* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

head {
    width: 100%;
}

ul {
    list-style: none;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

ul li {
    width: 25%;
    text-align: center;
}

main {
    height: calc(100vh - 50px - 50px);
    background-color: rgb(165, 165, 165);
}

main .main {
    padding: 5% 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10%;
}

main .quad {
    width: 250px;
    height: 250px;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

main .quadRed {
    background-color: red;
}
main .quadBlu {
    background-color: blue;
}
main .quadBeige {
    background-color: beige;
}
main .quadJs {
    background-color: rgb(230, 184, 139);
}

p {
    font-size: 20px;
    font-style: oblique;
}

/* 
    MyClas JS
*/

.car-list-style {
    background-color: #FFBC5A;
    padding: 2% 4%;
    border: 1px dashed rgb(144, 143, 143);
}
main img {
    display: none;
    width: 100%;
}

main img.active {
    display: block;
}